html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --acent-color: #0c92ad;
    --bg-color: #363745;
    --line-color: #242532;
    --mistake-color: rgb(179, 5, 5);

}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.text{
    display: block;
    font-weight: 400;
    width: 100vw;
    word-break: keep-all;
    white-space: nowrap;
    transform: translateX(calc(18%));
    letter-spacing: 2px;
}

.container{
    margin-top: 30vh;   
    width: 50%;
    height: 48px;
    background-color: var(--line-color);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

p{
    color: var(--acent-color);
    font-weight: 400;
    margin-top: 24px;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.current{
    position: relative;
}

#timer{
    position: absolute;
    top: 28vh;
    left: 25%;
    margin: 0;
}

.type_cat{
    position: absolute;
    top: 28vh;
    left: 45%;
    margin: 0;
}

.current::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0px;
    background-color: var(--acent-color);
    animation: tick 1500ms ease-in-out infinite;
}

@keyframes tick{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    } 
    30%{
        opacity: 1;
    } 
    
    100%{
        opacity: 1;
    }
}

.stats{
    background-color: var(--bg-color);
    border: var(--acent-color) 2px solid ;
    padding: 40px;
    border-radius: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 400px;

    position: absolute;
    top: 25vh;
    margin: 0 auto;

    animation: stats 0.5s ease-in-out;

    display: none;
}

.stats_img{
    width: 300px;
    height: 300px;
}

.stats p{
    margin-top: 16px;
    text-align-last: left;
}

.stats div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
}

.stats button{
    margin-top: 32px;
    width: 50%;
    height: 60px;
    background-color: #fff;
    border: var(--acent-color) 2px solid;
    border-radius: 20px;
    font-size: 24px;
    color: var(--acent-color);
    position: relative;
    transition: all 0.3s ease-in-out;
}

#mistakes{
    color: var(--mistake-color);
}

.stats button:hover{
    cursor: pointer;
    border-left: 5px solid var(--acent-color);
    transform: translateX(20px);
}


@keyframes stats{
    from{
        opacity: 0;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

