html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --acent-color: #0c92ad;
    --bg-color: #363745;
    --line-color: #242532;
    --mistake-color: rgb(179, 5, 5);

}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}

.dark_screen{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}

.dark_screen_active {
    opacity: 0.3;
    z-index: 2;
}

.text{
    display: block;
    font-weight: 400;
    width: 100vw;
    word-break: keep-all;
    white-space: nowrap;
    transform: translateX(calc(18%));
    letter-spacing: 2px;
}

.wrapper{
    margin-top: 35vh;   
    width: 50%;
    position: relative;

}

.container{
    width: 100%;
    height: 48px;
    background-color: var(--line-color);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

p{
    color: var(--acent-color);
    font-weight: 400;
    margin-top: 24px;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.current{
    position: relative;
}

#timer{
    position: absolute;
    top: -24px;
    left: 0;
    margin: 0;
}

.type_cat{
    position: absolute;
    top: -24px;
    left: 41%;
    margin: 0;
    width: 32px;
    height: 32px;
}

.current::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0px;
    background-color: var(--acent-color);
    animation: tick 1500ms ease-in-out infinite;
}

.stats{
    border-radius: 35px;
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    animation: stats 0.4s ease-in-out;
    

    position: absolute;
    top: 25vh;
    margin: 0 auto;

    

    

    z-index: 3;

    display: none;
}

.stats_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    transform: scale(0.8);
    animation: zoom 1.2s ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    0%{
        transform: scale(0.8);
    }
    70%{
        transform: scale(1.05)
    }
    100%{
        transform: scale(1)
    }
}

.stats p{
    margin-top: 16px;
    text-align-last: left;
}

.stats_wrapper{
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 16px;
    margin: 0 8px;
    opacity: 0;
    animation: stats 0.8s ease-in-out;
    animation-fill-mode: forwards;
}

.stats_wrapper:nth-child(2){
    animation-delay: 0.2s;
}

.stats button{
    margin-top: 32px;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;

    color: var(--acent-color);
    position: relative;
    transition: all 0.2s ease-in-out;
}

/* #mistakes{
    color: var(--mistake-color);
} */

.stats button img { 
    width: 28px;
    height: 28px;
}

.stats span{
    color: #fff;
}

.stats button:hover {
    cursor: pointer;
    transform: scale(1.2);
}



.mode{
    
    display: flex;
    width: fit-content;
    margin: 0 16px;
}

.mode_container{
    margin: 0 auto;
   margin-top: 8px;
   padding: 4px;
   border-radius: 8px;
   background-color: var(--line-color);
   color: gray;
   display: flex;
   justify-content: space-between;
}

.mode img{
    margin-right: 8px;
}

.mode:hover{
    cursor:default;
}


.mode_btn:hover{
    color: var(--acent-color);
    cursor: pointer;
}

.mode_active{
    color: var(--acent-color);
}


@keyframes stats{
    from{
        opacity: 0;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tick{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    } 
    30%{
        opacity: 1;
    } 
    
    100%{
        opacity: 1;
    }
}

